[submodule "weaviate-python-client"]
	path = weaviate-python-client
	url = https://github.com/weaviate/weaviate-python-client.git
[submodule "chatbot-ui"]
	path = chatbot-ui
	url = git@github.com:LuisLechugaRuiz/chatbot-ui.git
[submodule "supabase-py"]
	path = supabase-py
	url = git@github.com:supabase-community/supabase-py.git
