{% if outgoing_requests -%}
Feedback on actions initiated by you and processed by other processes:
{{ outgoing_requests }}

{% endif -%}

{% if incoming_request -%}
Process this incoming request:
{{ incoming_request }}

{% endif -%}

{% if topics -%}
{{ topics }}

{% endif -%}
