Current date: {{ date }}

You are: {{ name }}.
Your task is: {{ task }}

{% if context -%}
Context:
{{ context }}

{% endif -%}

{% include 'interactions.j2' -%}

{% if instructions -%}
Instructions: {{ instructions }}
{% endif -%}