Current date: {{ date }}

{{ identity }} ?? Ideally this should be the class header with some instructions specific to the class itself.

{{ task }} - Created or manually (as for assistant and orchestrator) or by orchestrator when creating an agent!

{{ memory }} - Thought + context!!
# TODO: MOVE THEM TO MEMORY.J2
# Thought: {{ thought }}
# - Utilize this thought from your memory system to guide your actions and responses.
# Context: {{ context }}
# - This is the background you need for the task. Incorporate this context in your processing.

{% if request -%}
Your task is to handle the following request and mark it as completed with the set_request_completed function after handling: 
{{ request }}
{% endif -%}

{% if event -%}
Yoy have received the following event. Ensure to clear this event with the clear_event function after processing:
{{ event }}
{% endif -%}

# TODO: DECIDE HOW TO MAKE THIS CLEAN - This should include info as: Conversation buffer + User name to have a general preprocess!!!
{% if variables -%}
Variables:
- These are additional details from other processes. Utilize them as needed to enhance your task performance.
{% for variable in variables -%}
  - {{ variable.0 }}: {{ variable.1 }}
{% endfor -%}
{% endif -%}